<div>
    <h1>Seleccione una opcion</h1>
    
    <a href="http://localhost:8080/api/products/"><h2>Productos</h2></a>
    <a href="http://localhost:8080/api/users/"><h2>Usuarios</h2></a>
    <a href="http://localhost:8080/api/carts/"><h2>Carritos</h2></a>
    <a href="http://localhost:8080/adminpanel"><h2>Panel de admin</h2></a>

</div>